.col {
    margin: auto;

    width: 60vw;
    display: grid;
    gap: 4px;
    align-items: center;
    justify-items: center;
}

.container {
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 16px;

    margin: 16px;
    padding: 0 16px;
    display: flex;
    flex-wrap: wrap;

    width: 640px;
}

.lrm-form {
    text-align: left;
    display: flex;
    max-width: fit-content;
    margin: 0 16px;
}

.lrm-form-input {
    margin: 8px 0;
    width: 270px;
    height: 4rem;
    resize: none;
}

.lrm-form-button {
    width: fit-content;
    margin: 0 0 8px;
    
    justify-content: left;
}

.results-flex {
    display: flex;
    justify-content: space-evenly;
}

.results > p {
    margin: 1em;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
}